 h1{
                color:white;
                background:black;
            }
h2{
    color:white;
    background:black;

    
}          
h3{
    color:white
    background:black;
}
h4{
    color:white;
    background:black;
}
body{
    
    
    background:#F8EFBA;
}
#box{
    background:white;
    margin: 40px 40px 40px 40px;
    
    
    
}
#image{
    width:100px;
    height:120px;
    border:5px solid blackzzzz;
    border-radius: 100px;
}
    
